body{
    margin-left: 10%;
}
body, input{
    font-family: sans-serif;
    font-size: 20px;
    background: #23ca02;
    text-align: center;
}
.balance{
    text-align: right;
    transform: translateY(-300%);
}
input{
    border: none;
    outline: none;
    height: 100%;
    width: 100%;
}
table{
    font-size: 20px;
    width: 90%;
    border-collapse: collapse;
}
td, th{
    width: 30%;
    height: auto;
    border: 2px solid;
}
tr{
    width: 100%;
    border: 2px solid;
}
.backButtonPlace{
    border: none;
}
.back{
    border: 2px solid;
    width: 90%;
    height: 50px;
    margin-top: 10%;
    border-radius: 30px;
}
.back form{
    width: 100%;
    height: 100%;
}
.back input{
    border-radius: 30px;
}
.accept, .decline{
    width: 15%;
}
table input{
    background: transparent;
}
#accept{
    background: lime;
}